
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>
            <h2>Welcome to example Routing project.</h2>
            <br />
            <h3>github = karakusnavy</h3>
            <br />
            <button onclick="window.location = '/examplerouter/select?id=1&name=Samed&surname=Karaku%C5%9F'">Click for go to router page.</button>
            <br />            
        </center>
    </div>
</body>
</html>
